In [73]:
import numpy as np
import pandas as pd
import os

In [45]:
demand_df = pd.read_csv("Demand_dataset.csv")
population_df = pd.read_csv("Population df.csv")
holiday_df = pd.read_csv("Holiday df.csv")

In [76]:
day_map = {
    'Monday': 1,
    'Tuesday': 2,
    'Wednesday': 3,
    'Thursday': 4,
    'Friday': 5,
    'Saturday': 6,
    'Sunday': 7
}

# Merge demand and population df

In [46]:
demand_df.set_index("DateTime", inplace=True)
population_df.set_index("DateTime", inplace=True)

In [47]:
population_df.index = pd.to_datetime(population_df.index)
demand_df.index = pd.to_datetime(demand_df.index)

In [48]:
# Resample the population df
population_df = population_df.resample("30T").ffill()

In [54]:
# demand_df.drop(columns=["Unnamed: 0","Total Population (Number)"], inplace=True)
# demand_df.to_csv("Demand_dataset.csv")

In [69]:
merged_df = demand_df.merge(population_df, left_index=True, right_index=True)
merged_df.drop(columns="Holiday", inplace=True)
merged_df

,USEP (Milligrams of gold/MWh),DEMAND (MW),SOLAR(MW),Total Population (Number)
DateTime,,,,
2018-09-01 00:30:00,446.335250,5516.442,0,5638676.0
2018-09-01 01:00:00,422.275525,5410.561,0,5638676.0
2018-09-01 01:30:00,419.678168,5280.854,0,5638676.0
2018-09-01 02:00:00,441.322807,5197.666,0,5638676.0
2018-09-01 02:30:00,432.209275,5130.163,0,5638676.0
...,...,...,...,...
2021-09-30 22:00:00,467.654088,6312.974,0,5453566.0
2021-09-30 22:30:00,433.816490,6159.167,0,5453566.0
2021-09-30 23:00:00,442.836916,6016.091,0,5453566.0
2021-09-30 23:30:00,440.768819,5883.262,0,5453566.0
2021-10-01 00:00:00,448.978175,5747.885,0,5453566.0

# Add in holiday

In [66]:
# Set datetime as index
holiday_df.set_index("DateTime", inplace=True)
holiday_df.index = pd.to_datetime(holiday_df.index)

In [67]:
# Resample the df
holiday_df = holiday_df.resample("30T").ffill(limit=48)
holiday_df

                            Holiday
DateTime
2018-01-01 00:00:00  New Year's Day
2018-01-01 00:30:00  New Year's Day
2018-01-01 01:00:00  New Year's Day
2018-01-01 01:30:00  New Year's Day
2018-01-01 02:00:00  New Year's Day
...                             ...
2023-12-24 22:00:00             NaN
2023-12-24 22:30:00             NaN
2023-12-24 23:00:00             NaN
2023-12-24 23:30:00             NaN
2023-12-25 00:00:00   Christmas Day

[104833 rows x 1 columns]

# Merge into final df

In [71]:
final_df = merged_df.merge(holiday_df, left_index=True,right_index=True)
final_df

,USEP (Milligrams of gold/MWh),DEMAND (MW),SOLAR(MW),Total Population (Number),Holiday
DateTime,,,,,
2018-09-01 00:30:00,446.335250,5516.442,0,5638676.0,NaN
2018-09-01 01:00:00,422.275525,5410.561,0,5638676.0,NaN
2018-09-01 01:30:00,419.678168,5280.854,0,5638676.0,NaN
2018-09-01 02:00:00,441.322807,5197.666,0,5638676.0,NaN
2018-09-01 02:30:00,432.209275,5130.163,0,5638676.0,NaN
...,...,...,...,...,...
2021-09-30 22:00:00,467.654088,6312.974,0,5453566.0,NaN
2021-09-30 22:30:00,433.816490,6159.167,0,5453566.0,NaN
2021-09-30 23:00:00,442.836916,6016.091,0,5453566.0,NaN
2021-09-30 23:30:00,440.768819,5883.262,0,5453566.0,NaN
2021-10-01 00:00:00,448.978175,5747.885,0,5453566.0,NaN

In [74]:
# Make all holiday values 1
final_df["Holiday"] = final_df["Holiday"].apply(lambda x: 0 if x == np.NaN else 1)

,USEP (Milligrams of gold/MWh),DEMAND (MW),SOLAR(MW),Total Population (Number),Holiday
DateTime,,,,,
2018-09-01 00:30:00,446.335250,5516.442,0,5638676.0,1
2018-09-01 01:00:00,422.275525,5410.561,0,5638676.0,1
2018-09-01 01:30:00,419.678168,5280.854,0,5638676.0,1
2018-09-01 02:00:00,441.322807,5197.666,0,5638676.0,1
2018-09-01 02:30:00,432.209275,5130.163,0,5638676.0,1
...,...,...,...,...,...
2021-09-30 22:00:00,467.654088,6312.974,0,5453566.0,1
2021-09-30 22:30:00,433.816490,6159.167,0,5453566.0,1
2021-09-30 23:00:00,442.836916,6016.091,0,5453566.0,1
2021-09-30 23:30:00,440.768819,5883.262,0,5453566.0,1
2021-10-01 00:00:00,448.978175,5747.885,0,5453566.0,1

In [75]:
final_df["Day"] = final_df.index.strftime("%A")
final_df

,USEP (Milligrams of gold/MWh),DEMAND (MW),SOLAR(MW),Total Population (Number),Holiday,Day
DateTime,,,,,,
2018-09-01 00:30:00,446.335250,5516.442,0,5638676.0,1,Saturday
2018-09-01 01:00:00,422.275525,5410.561,0,5638676.0,1,Saturday
2018-09-01 01:30:00,419.678168,5280.854,0,5638676.0,1,Saturday
2018-09-01 02:00:00,441.322807,5197.666,0,5638676.0,1,Saturday
2018-09-01 02:30:00,432.209275,5130.163,0,5638676.0,1,Saturday
...,...,...,...,...,...,...
2021-09-30 22:00:00,467.654088,6312.974,0,5453566.0,1,Thursday
2021-09-30 22:30:00,433.816490,6159.167,0,5453566.0,1,Thursday
2021-09-30 23:00:00,442.836916,6016.091,0,5453566.0,1,Thursday
2021-09-30 23:30:00,440.768819,5883.262,0,5453566.0,1,Thursday
2021-10-01 00:00:00,448.978175,5747.885,0,5453566.0,1,Friday

In [77]:
# Map the days
final_df['Day'] = final_df['Day'].map(day_map)

,USEP (Milligrams of gold/MWh),DEMAND (MW),SOLAR(MW),Total Population (Number),Holiday,Day
DateTime,,,,,,
2018-09-01 00:30:00,446.335250,5516.442,0,5638676.0,1,6
2018-09-01 01:00:00,422.275525,5410.561,0,5638676.0,1,6
2018-09-01 01:30:00,419.678168,5280.854,0,5638676.0,1,6
2018-09-01 02:00:00,441.322807,5197.666,0,5638676.0,1,6
2018-09-01 02:30:00,432.209275,5130.163,0,5638676.0,1,6
...,...,...,...,...,...,...
2021-09-30 22:00:00,467.654088,6312.974,0,5453566.0,1,4
2021-09-30 22:30:00,433.816490,6159.167,0,5453566.0,1,4
2021-09-30 23:00:00,442.836916,6016.091,0,5453566.0,1,4
2021-09-30 23:30:00,440.768819,5883.262,0,5453566.0,1,4
2021-10-01 00:00:00,448.978175,5747.885,0,5453566.0,1,5

# Write to final df csv for now

In [79]:
final_df.to_csv("Final_dataset.csv")

,USEP (Milligrams of gold/MWh),DEMAND (MW),Total Population (Number),Holiday,Day
DateTime,,,,,
2018-09-01 00:30:00,446.335250,5516.442,5638676.0,1,6
2018-09-01 01:00:00,422.275525,5410.561,5638676.0,1,6
2018-09-01 01:30:00,419.678168,5280.854,5638676.0,1,6
2018-09-01 02:00:00,441.322807,5197.666,5638676.0,1,6
2018-09-01 02:30:00,432.209275,5130.163,5638676.0,1,6
...,...,...,...,...,...
2021-09-30 22:00:00,467.654088,6312.974,5453566.0,1,4
2021-09-30 22:30:00,433.816490,6159.167,5453566.0,1,4
2021-09-30 23:00:00,442.836916,6016.091,5453566.0,1,4
2021-09-30 23:30:00,440.768819,5883.262,5453566.0,1,4
2021-10-01 00:00:00,448.978175,5747.885,5453566.0,1,5