Clean data

In [4]:
import pandas as pd

In [5]:
# Get limitations
with open(r"Cleaned_datasets\limitations.txt", "r") as f:
    limitations = f.readlines()[-1].split(',')
    start_date, end_date = [pd.to_datetime(date) for date in limitations]

Clean energy consumption dataset

In [6]:
energy_df = pd.read_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Uncleaned_datasets\energy_consumption.csv")

In [7]:
print(f"DataFrame head\n{energy_df.head()}\n\nDataFrame tail\n{energy_df.tail()}")

DataFrame head
                    ds          y
0  2012-02-06 00:00:00  4885.7671
1  2012-02-06 00:30:00  4526.6826
2  2012-02-06 01:00:00  4436.0894
3  2012-02-06 01:30:00  4361.2412
4  2012-02-06 02:00:00  4295.2305

DataFrame tail
                         ds            y
193531  2023-02-19 21:30:00  6448.370941
193532  2023-02-19 22:00:00  6376.849043
193533  2023-02-19 22:30:00  6235.211282
193534  2023-02-19 23:00:00  6103.995954
193535  2023-02-19 23:30:00  5979.283868

In [8]:
# Convert ds column to datetime format
energy_df['ds'] = pd.to_datetime(energy_df['ds'])

In [9]:
# Only get dates within limitations
new_df = energy_df[(energy_df['ds'] >= start_date) & (energy_df['ds'] <= end_date)]

In [10]:
# Rename column
new_df = new_df.rename(columns={'ds': 'datetime'})

In [11]:
# Write to csv
new_df.to_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Cleaned_datasets\energy_consumption.csv", index = False)

Clean holidays dataset

In [96]:
# Load dataset
holiday_df = pd.read_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Uncleaned_datasets\holiday.csv")

           Date        Day           Holiday
0    2014-01-01  Wednesday    New Year's Day
1    2014-01-31     Friday  Chinese New Year
2    2014-02-01   Saturday  Chinese New Year
3    2014-04-18     Friday       Good Friday
4    2014-05-01   Thursday        Labour Day
..          ...        ...               ...
107  2022-02-02  Wednesday  Chinese New Year
108  2022-02-01    Tuesday  Chinese New Year
109  2022-01-03     Monday    New Year's Day
110  2022-01-02     Sunday    New Year's Day
111  2022-01-01   Saturday    New Year's Day

[112 rows x 3 columns]

In [100]:
# Rename Date col to DateTime
holiday_df = holiday_df.rename(columns={"Date": "DateTime"})

In [108]:
# Change format to datetime
holiday_df['DateTime'] = pd.to_datetime(holiday_df["DateTime"])

In [109]:
# Only get dates within limitations
new_df = holiday_df[(holiday_df['DateTime'] >= start_date) & (holiday_df['DateTime'] <= end_date)]

In [ ]:
# Clean the day and holidays to a number

In [110]:
# Write to csv
new_df.to_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Cleaned_datasets\holiday.csv", index = False)

Merge amk, tuas, and changi datasets

In [66]:
# load dfs
df_locationA = pd.read_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Uncleaned_datasets\angmokio.csv")

df_locationB= pd.read_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Uncleaned_datasets\changi.csv")

df_locationC= pd.read_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Uncleaned_datasets\tuassouth.csv")

In [67]:
# Merge dfs
merged_df = pd.concat([df_locationA, df_locationB, df_locationC])

In [68]:
# Ground the dfs and mean the vals like temp
grouped_df = merged_df.groupby(['Year', 'Month', 'Day']).mean(numeric_only=True).reset_index()

In [74]:

# Remove dates out of allowed range
new_df = grouped_df[(grouped_df['Date'] >= start_date) & (grouped_df['Date'] <= end_date)]

,Year,Month,Day,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (Â°C),Maximum Temperature (Â°C),Minimum Temperature (Â°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,2014,1,1,0.000000,0.000000,0.000000,0.000000,26.700000,29.200000,24.833333,7.733333,27.366667
1,2014,1,2,0.000000,0.000000,0.000000,0.000000,27.300000,31.100000,24.933333,8.833333,31.200000
2,2014,1,3,22.133333,13.066667,17.000000,20.266667,26.666667,30.566667,24.333333,7.600000,45.000000
3,2014,1,4,6.133333,3.200000,5.200000,6.133333,26.666667,30.900000,24.566667,5.766667,26.966667
4,2014,1,5,8.733333,3.533333,4.866667,7.066667,24.933333,26.333333,23.500000,6.200000,24.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
2552,2020,12,27,3.666667,3.266667,3.666667,3.666667,27.150000,31.550000,24.100000,11.400000,29.750000
2553,2020,12,28,3.200000,1.733333,2.200000,2.266667,27.766667,31.866667,25.600000,11.333333,38.166667
2554,2020,12,29,2.333333,2.000000,2.066667,2.133333,26.633333,29.933333,25.166667,7.400000,26.666667
2555,2020,12,30,0.066667,0.066667,0.066667,0.066667,27.666667,31.433333,25.233333,9.800000,33.333333
2556,2020,12,31,9.266667,5.733333,6.800000,9.266667,27.100000,30.900000,24.900000,9.833333,33.166667

In [ ]:
# Write to csv
new_df.to_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Cleaned_datasets\weather.csv", index=False)

Parse code into final dataset

In [84]:
# Load weather df
weather_df = pd.read_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Cleaned_datasets\weather.csv")

In [85]:
# Convert weather datetime df into pd datetime
weather_df['DateTime'] = pd.to_datetime(weather_df[['Year', 'Month', 'Day']].astype(str).apply('-'.join, 1) + ' ' + '00:00:00')


weather_df = weather_df.drop(['Year', 'Month', 'Day'], axis=1)

In [86]:
# Make the Datetime col the first col
weather_df.insert(0, 'DateTime', weather_df.pop('DateTime'))

In [87]:
# Drop unnamed col
weather_df.drop("Unnamed: 0", axis=1)

,DateTime,Daily Rainfall Total (mm),Highest 30 min Rainfall (mm),Highest 60 min Rainfall (mm),Highest 120 min Rainfall (mm),Mean Temperature (Â°C),Maximum Temperature (Â°C),Minimum Temperature (Â°C),Mean Wind Speed (km/h),Max Wind Speed (km/h)
0,2014-01-01,0.000000,0.000000,0.000000,0.000000,26.700000,29.200000,24.833333,7.733333,27.366667
1,2014-01-02,0.000000,0.000000,0.000000,0.000000,27.300000,31.100000,24.933333,8.833333,31.200000
2,2014-01-03,22.133333,13.066667,17.000000,20.266667,26.666667,30.566667,24.333333,7.600000,45.000000
3,2014-01-04,6.133333,3.200000,5.200000,6.133333,26.666667,30.900000,24.566667,5.766667,26.966667
4,2014-01-05,8.733333,3.533333,4.866667,7.066667,24.933333,26.333333,23.500000,6.200000,24.000000
...,...,...,...,...,...,...,...,...,...,...
2552,2020-12-27,3.666667,3.266667,3.666667,3.666667,27.150000,31.550000,24.100000,11.400000,29.750000
2553,2020-12-28,3.200000,1.733333,2.200000,2.266667,27.766667,31.866667,25.600000,11.333333,38.166667
2554,2020-12-29,2.333333,2.000000,2.066667,2.133333,26.633333,29.933333,25.166667,7.400000,26.666667
2555,2020-12-30,0.066667,0.066667,0.066667,0.066667,27.666667,31.433333,25.233333,9.800000,33.333333
2556,2020-12-31,9.266667,5.733333,6.800000,9.266667,27.100000,30.900000,24.900000,9.833333,33.166667

In [111]:
# Load in holiday file
holiday_df = pd.read_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\Cleaned_datasets\holiday.csv")

In [113]:
holiday_df['DateTime'] = pd.to_datetime(holiday_df["DateTime"])

In [115]:
# Merge the dfs
merged_df_1 = pd.merge(holiday_df, weather_df, on='DateTime', how='left')
merged_df_2 = pd.merge(holiday_df, weather_df, on='DateTime', how='left')

In [116]:
# Concatenate the two merged dataframes
final_df = pd.concat([merged_df_1, merged_df_2], axis=0)

In [117]:
# Write to CSV file
final_df.to_csv(r"C:\Users\wong2\PycharmProjects\Data_sci_pw\Datasets\final_dataset.csv", index=False)